---
title: Antumbra - A highly customizable ambient monitor backlight.
desc: Antumbra | Glow is a dynamic ambient backlight that can be customized for any purpose imaginable.
keywords: Antumbra, Glow, light, AR, backlighting, experience, immersion, colorful, LED, responsive, beautiful, colors
---
.container
	.row.center
		%h1
			My Middleman Boilerplate
		Nothing too special....
		%br/
		Made with &lt;3 by
		%a{:href=>"//walshie4.github.io"}
			Adam Walsh

